body{
  background: linear-gradient(45deg, rgba(29, 98, 224, .8), rgba(29, 178, 205, .8)), url(./college.jpg) center top no-repeat;
  background-size: cover;
  position:relative;
  width: 100%;
  height: 100vh;
  margin-top: 10%;
}


#Title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

#Logo{
  text-align: center;
}

.share {
  position: relative;
  text-align: right;
}

.share a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: white;
  border: 1px solid #1dc8cd;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1.5;
  color: #1dc8cd;
  display: inline-block;
  letter-spacing: 4px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.share a:hover {
  background: #1dc8cd;
  border: 1px solid #1dc8cd;
  color: white;
}

@media (min-width: 768px)
.text-center{
  text-align: center!important;
}


@media (min-width: 1024px)
body{
    background-attachment: fixed;
}
